<section id="educacion" class="card border-green">
  <h2>Educación</h2>
  <article>
    <table class="table table-striped table-hover table-bordered align-middle table-educacion">
      <caption>Educación: años, institución y título obtenido</caption>
      <thead>
        <tr>
          <th scope="col">Año</th>
          <th scope="col">Institución</th>
          <th scope="col">Título obtenido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023</td>
          <td>Universidad Francisco Marroquín</td>
          <td>Licenciatura en Ingeniería en Ciencias de la Computación</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>Colegio Valle del Saber</td>
          <td>Bachiller en computación con orientación científica</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
