<div class="exp-container">
  <h2>Estudios</h2>
  <p>Experiencia laboral: periodo, empresa y puesto</p>

  <table class="exp-table">
    <tr>
      <th>Periodo</th>
      <th>Institución</th>
      <th>Título</th>
    </tr>
    <tr>
      <td>2020 – 2024</td>
      <td>Universidad Francisco Marroquín</td>
      <td>Licenciatura en Ingeniería en Ciencias de la Computación</td>
    </tr>
    <tr>
      <td>2017 – 2019</td>
      <td>Colegio Valle del Saber</td>
      <td>Bachillerato en Computación con orientación científica</td>
    </tr>
  </table>
</div>
